pre {

    white-space: pre;

    word-wrap: normal;

}

.hljs {

    display: block;

    overflow-x: auto;

    padding: 2px 3px !important;

    line-height: 1.1;

    font-size: 16px !important;

    background: rgba(240, 240, 240, 0.8);

    color: #272727;

    font-family: 'consolas', sans-serif;

    border-radius: 6px;

    text-align: left;

}

.hljs-tag,

.hljs-keyword,

.hljs-selector-tag,

.hljs-literal,

.hljs-strong,

.hljs-name {

    color: #404040;

}

.hljs-code {

    color: #7600a4;

}

.hljs-class .hljs-title {

    color: #df5000;

}

.hljs-attribute,

.hljs-symbol,

.hljs-regexp,

.hljs-link {

    color: #bf79db;

}

.hljs-string,

.hljs-bullet,

.hljs-subst,

.hljs-title,

.hljs-section,

.hljs-emphasis,

.hljs-type,

.hljs-built_in,

.hljs-builtin-name,

.hljs-selector-attr,

.hljs-selector-pseudo,

.hljs-addition,

.hljs-variable,

.hljs-template-tag,

.hljs-template-variable {

    color: #0000fc;

}

.hljs-comment,

.hljs-quote,

.hljs-deletion,

.hljs-meta {
    color: #a95500;
    margin-top: 5px;
}

blockquote p{
    color: #b0b0b0;
    background: rgba(84, 84, 84, 0.03);
}

code{
    color: #2b2b2b;
    font-family: 'consolas', sans-serif;
    background-color: #f1f2f2;
    text-align: left;
}

p code{
    color: #8e8e8e;
    font-family: 'consolas', sans-serif;
}

.katex-html{
    font-size: 0;
}

p, h1, h2, h3, h4, h5, h6{
    text-align: left;
}

p img {
    max-width: 100%;
    min-width: 30%;
}

h1, h2, h3, h4{
    margin-left: 0;
}
