<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.mapper.AssignmentMapper">

    <select id="getAllAssignments" resultType="com.software.vo.AssignmentVO">
        select * from
            (select asi.id, asi.title, asi.due_date, asi.class_id, course_id, submission_time from (select a.*, course_id from assignments a inner join (select * from enrollments where student_id=#{userId}) as e on a.class_id=e.class_id) as asi
                left join (select * from student_assignment where student_id=#{userId}) sa
                on sa.assignment_id = asi.id) aa
            join (select id, name as course_name from courses co) c on aa.course_id = c.id
        <where>
            <if test="showOutdated == false">
                and due_date > NOW()
            </if>
        </where>
    </select>
</mapper>
