<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.mapper.ClassMapper">

    <insert id="addClass" parameterType="com.software.entity.CourseClass" useGeneratedKeys="true" keyProperty="id">
        insert into classes(name, course_id, time, location, time_data) values (#{name}, #{courseId}, #{time}, #{location}, #{timeData, typeHandler=com.software.handler.ArrayTypeHandler})
    </insert>

    <update id="updateClass" parameterType="com.software.dto.ClassUpdateDto">
        update classes set name=#{name}, time=#{time}, location=#{location}, time_data=#{timeData, typeHandler=com.software.handler.ArrayTypeHandler} where id=#{id}
    </update>
    
    <resultMap id="ClassResultMap" type="com.software.entity.CourseClass">
        <result column="time_data" property="timeData" typeHandler="com.software.handler.ArrayTypeHandler" />
    </resultMap>
</mapper>