<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.mapper.CommentMapper">
    <insert id="makeComment" parameterType="com.software.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comments (content, blog_id, user_id) values (#{content}, #{blogId}, #{userId})
    </insert>
</mapper>