<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.software.mapper.UserMapper">
    <update id="update" parameterType="com.software.dto.UserUpdateDTO">
        update users
        <set>
            <if test="nickname!=null">
             nickname=#{nickname}
         </if>
            <if test="profile!=null">
             ,profile=#{profile}
         </if>
        </set>
        where id=#{id}
    </update>
</mapper>
